.card-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.element {
    margin-right: 20px;
}

.valid-card {
    cursor: pointer;
}