<div class="container">
    <form class="modal-form" [formGroup]="_cardForm" (ngSubmit)="_onSubmit()">
        <button class="close-button" (click)="_closeFormFunction()">x</button>
        <div>
            <label for="lastName">Nom</label>
            <input id="lastName" formControlName="lastName">
            @if (_cardForm.get('lastName')?.invalid && _cardForm.get('lastName')?.touched) {
                <div class="error-message">
                    Vous devez saisir votre nom pour valider votre commande.
                </div>
            }
        </div>
        <div>
            <label for="firstName">Prénom</label>
            <input id="firstName" formControlName="firstName">
            @if (_cardForm.get('firstName')?.invalid && _cardForm.get('firstName')?.touched) {
                <div class="error-message">
                    Vous devez saisir votre prénom pour valider votre commande.
                </div>
            }
        </div>
        <button type="submit" [disabled]="_cardForm.invalid">Valider la commande</button>
    </form>
</div>
